ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background: var(--t-bg);
  overflow: hidden;
  box-shadow: 0 0 30px 1px rgba(52, 152, 219, 0.3);
  list-style: none;
}

ul li {
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.5s;
}

ul li:hover {
  border-radius: 20px;
  background: rgb(52, 152, 219, 0.5);
}

ul .checked {
  border-radius: 20px;
  background: rgb(52, 152, 219, 0.8);
  color: var(--t-bg);
}

ul .checked:hover {
  border-radius: 20px;
  background: rgb(52, 152, 219, 0.8);
  color: var(--t-bg);
}
